/* NavBar.css */
nav {
    background-color: rgb(255, 103, 103);
    padding: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 20px;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  