h1{
    font-family: 'Agency FB';
}

AgGridReact{
    font-family: 'Agency FB';
    font-size: 100px;
}

.button-quiz-list {
    background: white; 
    border: 1px solid green; 
    font-size: 12px; 
    color: green;
    cursor: pointer;
    padding: 8px 16px; 
    transition: background 0.3s ease, color 0.3s ease; 
  }
  
  .button-quiz-list:hover {
    background: green; /* Change hover background color as needed */
    color: white; /* Change hover text color as needed */
  }
  
    .h1-quiz-list{
    color: white;
    font-size: 36px;
  }